{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% load links_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include "components/sidebar.html" %}
    
    <main class="col-md-9 col-lg-10 content">
      <h2>Мои ссылки</h2>
      {% if links %}
        <form method="get">
          {{ filter_form.as_div }}
          <input type="submit" value="Найти" class="btn btn-dark"/>
        </form>
      {% endif %}

      {% show_link_list links=links is_user_links=True %}
      {% if not links %}
        <h3>Вы не создали ни одной ссылки, вы можете сделать это на странице <a href="{% url "links:create_link" %}" class="short-link">создания ссылок</a></h3>
      {% endif %}
    </main>
  </div>
</div>
{% endblock %}
