{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include "components/sidebar.html" %}

    <main class="col-md-9 col-lg-10 content">
      <h2>ТОП 10 ССЫЛОК ПО КОЛИЧЕСТВУ ПЕРЕХОДОВ</h2>

      {% for link in links %}
      <div class="link-card">
        <p><strong>Автор: </strong>{{ link.user.username }}</p>
        <p><strong>Исходная ссылка: </strong><a href="{{ link.source_link }}" class="short-link" target="_blank">{{ link.source_link }}</a></p>
        <p><strong>Сокращённая ссылка:</strong> 
          <a href="{{ link.get_absolute_url }}" class="short-link" target="_blank">{{ link.get_absolute_url }}</a>
        </p>
        <p><strong>Количество переходов:</strong> {{ link.redirects_count }}</p>
        <p><strong>Дата создания:</strong> {{ link.date_created }}</p>
        {% if link.tags.all %}
          <p><strong>Теги:</strong>
          {% for tag in link.tags.all %}
            <span class="tag me-2">{{ tag.name }}</span>
            {% endfor %}
          </p>
        {% endif %}
      </div>
      {% endfor %}
    </main>
  </div>
</div>
{% endblock %}
