
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">ShortLink</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Создать ссылку</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мои ссылки</a>
        </li>
      </ul>
      <button class="btn btn-sm">Выйти</button>
    </div>
  </nav>